{% extends 'base.html' %}

{% block title %}Host Details{% endblock %}

{% block content %}
<h1>Host Details: {{ host.serialNumber }}</h1>
<p>Product Name: {{ host.productName }}</p>
<p>UUID: {{ host.uuid }}</p>
<p>Onboarding Status: {{ host.onboardingStatus }}</p>
<p>OS Name: {{ host.osDetails.name }}</p>
<p>OS Resource ID: {{ host.osDetails.osResourceID }}</p>
<p>Profile Name: {{ host.osDetails.profileName }}</p>
<p>Repository URL: <a href="{{ host.osDetails.repoUrl }}">{{ host.osDetails.repoUrl }}</a></p>
<p>Security Feature: {{ host.osDetails.securityFeature }}</p>
<p>SHA256: {{ host.osDetails.sha256 }}</p>
<!-- If updateSources is not null, display it -->
{% if host.osDetails.updateSources %}
<p>Update Sources: {{ host.osDetails.updateSources|join(", ") }}</p>
{% endif %}
{% endblock %}